.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100svh;
}

.title {
  position: absolute;
  top: 110px;
  left: 36px;
  font-family: "UAFBold", sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
  color: white;
  z-index: 3;
}

.afterImage,
.beforeImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.beforeImage {
  clip-path: inset(0 50% 0 0);
}

.beforeImage::before {
  content: "Можливо\AССО це ти";
  position: absolute;
  bottom: 20px;
  left: 36px;
  color: white;
  font-size: 72px;
  font-family: "UAFBold", sans-serif;
  letter-spacing: -1px;
  line-height: 4rem;
  white-space: pre;
}

.divider {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  height: calc(100% - 111px);
  width: 1px;
  background-color: #fff;
  z-index: 1;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 4px;
  user-select: none;
}

.arrowLeft {
  left: -65px;
}
.divider::after {
  content: "Час настав";
  position: absolute;
  bottom: 20px;
  left: 34px;
  color: white;
  font-size: 72px;
  font-family: "UAFBold", sans-serif;
  letter-spacing: -1px;
  line-height: 4rem;
  opacity: var(--opacity); /* Прозорість тексту */
  transition: opacity 0.3s ease; /* Плавна зміна прозорості */
}

.button {
  position: absolute;
  bottom: 44px;
  right: 44px;
  z-index: 3;
}

@media (min-width: 768px) and (max-width: 1279px) {
}

@media (max-width: 767px) {
  .title {
    font-size: 20px;
    left: 16px;
  }
  .beforeImage::before {
    left: 16px;
    font-size: 48px;
    bottom: 152px;
    line-height: 3rem;
  }
  .divider {
    height: calc(100% - 91px);
  }
  .divider::after {
    left: 16px;
    font-size: 48px;
    bottom: 152px;
    line-height: 3rem;
  }

  .divider::after {
    font-size: 48px;
  }
  .arrowLeft,
  .arrowRight {
    width: 40px;
    height: 40px;
    top: 50%;
  }
  .arrowLeft {
    left: -48px;
  }
  .button {
    width: calc(100% - 32px);
    right: 50%;
    transform: translateX(50%);
    bottom: 44px;
  }
}
