.footer {
  padding: 64px 0;
  background-color: white;
}

.footerWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: self-start;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.logo {
  color: black;
}

.logoTitle {
  font-family: "UAFBold", sans-serif;
  font-size: 16px;
}

.hotVacancies {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 18px;
  padding-top: 15px;
}

.hotVacancies:hover {
  color: #0e7151;
}

.socialWrapper {
  justify-self: right;
  display: flex;
}
.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 48px;
  height: 48px;
  border: 1px solid #c5c5c5;
}

.socialIcon:hover .icon {
  transform: scale(1.2);
}

.copyrightWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}

.copyright {
  font-size: 12px;
}

@media (max-width: 1279px) {
  .footer {
    padding: 40px 0 24px 0;
  }
  .footerWrapper {
    row-gap: 50px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .logoWrapper {
    justify-self: start;
  }
  .logo {
    justify-self: left;
  }
  .hotVacancies {
    padding-top: 0;
  }
  .socialWrapper {
    justify-self: center;
  }
  .copyrightWrapper {
    margin-top: 56px;
  }
  .copyright {
    font-size: 12px;
  }
}
