.container {
  width: 100%;
  transition: transform 0.1s ease;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 233, 0.7);
}

.advantages {
  margin-bottom: 136px;
}

.title {
  margin-bottom: 80px;
  font-size: 18px;
  letter-spacing: -1px;
  white-space: pre-line;
}

.wrapper {
  display: grid;
  grid-auto-columns: calc(100% / 3);
  grid-auto-flow: column;
}

.image {
  position: sticky;
  top: 0;
  background-image: url("../../../public/images/advantages.webp");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.video {
  position: sticky;
  top: calc(50% - 200px);
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    grid-auto-columns: calc(100% / 2);
  }
}

@media (max-width: 767px) {
  .wrapper {
    grid-auto-columns: 100%;
  }
  .advantages {
    margin-bottom: 100px;
  }
}
