.title {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 18px;
  margin-top: 160px;
  margin-bottom: 64px;
}

.tabsList {
  list-style: none;
  margin-bottom: 160px;
}

.tabContainer {
  background-color: white;
  padding: 28px 32px 0 32px;
  border-bottom: 1px solid #c5c5c5;
}

.tabTitleWrapper {
  -webkit-tap-highlight-color: transparent;
  display: grid;
  grid-template-columns: 72px 1fr 20px;
  align-items: flex-start;
  gap: 40px;
  cursor: pointer;
}

.tabTitleWrapper:hover .tabTitle {
  color: #1d946e;
}

.tabContentWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease;
}

.tabTitle {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 28px;
  flex: 1;
  margin-bottom: 28px;
}

.tabNumber {
  background-color: black;
  color: white;
  width: 72px;
  padding: 0 25px;
  transform: translateY(7px);
}

.tabArrow {
  justify-self: end;
}

.activeTab {
  grid-template-rows: 1fr;
}

.content {
  overflow: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.tabList {
  list-style: none;
}

.listItem:before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-color: black;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .title {
    font-size: 18px;
    margin-top: 192px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 48px;
  }
  .tabsList {
    margin-bottom: 64px;
  }
  .tabContainer {
    padding: 24px 16px 0 16px;
  }
  .tabTitleWrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
  }
  .tabTitle {
    order: 3;
    font-size: 22px;
    grid-column: span 2;
    margin-bottom: 24px;
  }
  .tabTitleWrapper:hover .tabTitle {
    color: unset;
  }
}
