.tabContainer {
  background-color: white;
  border-bottom: 1px solid #c5c5c5;
  padding: 32px;
}

.tabTitleWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.tabContentWrapper {
  display: grid;
  grid-template-rows: 1fr;
  transition: 0.5s ease-in-out;
}

.tabTitle {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 28px;
}

.tabNumber {
  background-color: black;
  color: white;
  padding: 0 25px;
}

.tabContent {
  overflow: hidden;
  font-style: 14px;
}

/* .container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabItem {
  border-bottom: 1px solid #ddd;
}

.tabButton {
  width: 100%;
  text-align: left;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background: white;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tabButton:hover {
  background: #eaeaea;
}

.active {
  background: #d1d5db;
}

.tabContent {
  padding: 12px;
  font-size: 14px;
  color: #333;
  background: #f0f0f0;
} */
