.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: white;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid white;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 34px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.shrink {
  padding: 5px 34px;
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  width: 40px;
  height: 44px;
  transition: width 0.3s ease, height 0.3s ease;
}

.shrink .logo {
  width: 30px;
  height: 34px;
}

.link {
  -webkit-tap-highlight-color: transparent;
}

.menuButtonWrapper {
  width: fit-content;
  display: none;
  align-items: center;
  border: 1px solid #808080;
  padding: 20px;
  margin-left: 24px;
}

.menuText {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

.menuBurgerMobile {
  display: none;
}

.hotVacancies {
  font-size: 20px;
  cursor: pointer;
}

.hotVacancies:hover {
  color: #0e7151;
}

.contactWrapper {
  display: flex;
  font-size: 20px;
  gap: 72px;
}

.telephone {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.telephone:hover {
  color: #0e7151;
}

.button {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.button:hover {
  color: #0e7151;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .logo {
    width: 60px;
    height: 64px;
  }
  .shrink .logo {
    width: 50px;
    height: 54px;
  }

  .shrink .menuButtonWrapper {
    padding: 15px;
  }

  .menuButton {
    flex: 1;
  }
  .menuButtonWrapper {
    display: flex;
  }

  .menuBurgerMobile {
    display: none;
  }
  .hotVacancies {
    display: none;
  }

  .telephone:hover {
    color: white;
  }

  .button:hover {
    color: white;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 15px 16px;
  }

  .shrink {
    padding: 10px 16px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .shrink .logo {
    width: 30px;
    height: 34px;
  }
  .menuButtonWrapper {
    display: none;
  }
  .menuBurgerMobile {
    display: block;
    width: 40px;
    height: 40px;
    padding: 13px;
    border: 1px solid #808080;
  }
  .hotVacancies {
    display: none;
  }

  .telephone {
    display: none;
  }
  .telephone:hover {
    color: white;
  }
}
