.button {
  min-width: 1%;
  background: transparent;
  color: black;
  border: 1px solid #c5c5c5;
  padding: 20px 24px;
  text-transform: uppercase;
  font-family: "UAFSemiBold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  min-width: 100%;
}

.arrowButton {
  width: 56px;
  height: 56px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttonWithLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0e7151;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttonWithLogo:hover {
  background-color: #1d946e;
}

.vacancyButton {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 16px;
  padding: 15px 65px;
  border: 1px solid #c5c5c5;
  background-color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: black;
}

@media (max-width: 1279px) {
  .vacancyButton {
    width: 100%;
  }
}
