.button {
  min-width: 1%;
  background: transparent;
  color: black;
  border: 1px solid #c5c5c5;
  padding: 20px 24px;
  text-transform: uppercase;
  font-family: "UAFSemiBold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.backButton {
  position: absolute;
  top: 70px;
  left: 180px;
  margin-left: 15px;
  background-color: transparent;
  border: none;
  line-height: 17px;
  font-size: 14px;
  color: white;
  padding: 10px 0;
  cursor: pointer;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  z-index: 2;
}
.backButton:hover {
  transform: scale(1.1);
}

.backArrow {
  position: absolute;
  margin-left: -15px;
  top: 11px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.button:hover {
  min-width: 100%;
}

.arrowButton {
  width: 56px;
  height: 56px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttonWithLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0e7151;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttonWithLogo:hover {
  background-color: #1d946e;
}

.vacancyButton {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 16px;
  padding: 15px 65px;
  border: 1px solid #c5c5c5;
  background-color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: black;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .vacancyButton {
    width: 100%;
  }
  .buttonWithLogo:hover {
    background-color: #0e7151;
  }
  .backButton {
    top: 100px;
    left: 80px;
  }
  .backButton:hover {
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .vacancyButton {
    width: 100%;
  }
  .buttonWithLogo:hover {
    background-color: #0e7151;
  }
  .backButton {
    top: 95px;
    left: 16px;
  }
  .backButton:hover {
    transform: scale(1);
  }
}
