.carouselContainer {
  padding: 0 34px;
  background-color: #f3f3e9;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

.carouselWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 3);
  overflow: hidden;
}

.navButtonLeft,
.navButtonRight {
  width: 56px;
  height: 56px;
  background-color: white;
  color: black;
  border-radius: unset;
}

.scrollContainer {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.scrollWrapper {
  position: relative;
  flex: 1;
  margin: 0 20px;
}

.scroll {
  display: grid;
  overflow: hidden;
  grid-auto-flow: column;
  position: absolute;
  top: 50%;
  width: 100%;
}

.scroll li:nth-child(2) {
  border-top: unset;
}

.scrollChild {
  width: 100%;
  border-top: 4px solid black;
  list-style: none;
}

@media (max-width: 1979px) {
  .carouselWrapper {
    grid-auto-columns: calc(100% / 3);
  }
}

@media (max-width: 1280px) {
  .carouselWrapper {
    grid-auto-columns: calc(100% / 2);
  }
}

@media (max-width: 767px) {
  .carouselWrapper {
    grid-auto-columns: calc(100% / 1);
  }
}
