.carouselContainer {
  padding: 0 34px;
  background-color: #f3f3e9;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

.carouselWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow: hidden;
  padding: 0 10px;
}

.navButtonLeft,
.navButtonRight {
  width: 56px;
  height: 56px;
  background-color: white;
  color: black;
  border-radius: unset;
}

.scrollContainer {
  display: flex;
  align-items: center;
  padding-top: 32px;
  gap: 56px;
  margin-bottom: 80px;
}

.scrollWrapper {
  display: flex;
  width: 100%;
  flex: 1;
}

.scroll {
  position: relative;
  flex: 1;
  margin: 0 20px;
}

.scroll li:nth-child(2) {
  border-top: unset;
}

.link {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 18px;
  -webkit-tap-highlight-color: transparent;
}

.link:hover {
  color: #0e7151;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .carouselWrapper {
    grid-auto-columns: calc(100% / 2);
  }
}

@media (max-width: 767px) {
  .carouselWrapper {
    grid-auto-columns: 100%;
  }
  .scrollWrapper {
    gap: 20px;
  }
  .scroll {
    display: none;
  }
  .link:hover {
    color: black;
  }
}
