.vacanciesContainer {
  margin: 0 36px 60px 36px;
}

.vacancyWrapper {
  padding: 36px;
  background-color: white;
  border: 1px solid #c5c5c5;
}

.filterButtons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #f3f3e9;
}

.typeButtonsWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.rankButtonsWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.vacancyWrapper:hover {
  color: white;
  background-color: #1b946e;
}

.vacancyItemWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.vacancyList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.vacancyContent {
  display: flex;
  flex-direction: column;
}

.vacancyList li:last-child .vacancyItemWrapper::after {
  background-color: transparent;
}

.title {
  font-family: "UAFBold", sans-serif;
  font-size: 32px;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 40px;
  background-color: #f3f3e9;
}

.imageWrapper {
  position: relative;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
}

.image {
  object-fit: cover;
}

.icon {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.vacancyTitle {
  font-family: "UAFBold", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  margin-bottom: 17px;
  text-align: left;
}

.vacancyCredo {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 20px;
  flex: 1;
}

.button {
  font-family: "UAFBold", sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border: none;
  padding: 17px 20px;
  background-color: transparent;
  color: black;
}
.button:hover {
  color: #00875c;
}

.active {
  border-bottom: 4px solid #00875c;
}

.noVacancies {
  font-family: "UAFBold", sans-serif;
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: 60px;
  grid-column: span 3;
}

.radioInput {
  display: none;
}

.radioLabel {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.radioLabel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.radioLabel::after {
  display: none;
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  background-color: #0e7151;
  transition: background-color 0.3s, border-color 0.3s;
}

.radioInput:checked + .radioLabel::after {
  display: block;
}

.radioLabel:hover::before {
  background-color: #f0f0f0;
  border-color: #666;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .vacancyWrapper {
    padding: 33px;
  }
  .vacancyList {
    grid-template-columns: 1fr;
  }
  .vacancyWrapper:hover {
    color: black;
    background-color: white;
  }
  .rankButtonsWrapper {
    flex-direction: column;
    gap: 40px;
  }
  .vacancyItemWrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .vacancyList li:nth-child(even) {
    color: white;
    background-color: #00875c;
  }
  .radioLabel:hover::before {
    background-color: white;
    border-color: #c5c5c5;
  }
}
@media (max-width: 767px) {
  .vacancyList {
    grid-template-columns: 1fr;
  }
  .vacancyWrapper {
    padding: 33px;
  }
  .rankButtonsWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .vacancyWrapper:hover {
    color: black;
    background-color: white;
  }
  .vacancyItemWrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .vacancyList li:nth-child(even) {
    color: white;
    background-color: #00875c;
  }
  .noVacancies {
    font-size: 36px;
  }
  .radioLabel:hover::before {
    background-color: white;
    border-color: #c5c5c5;
  }
}
