.vacanciesContainer {
  margin: 0 36px 60px 36px;
}

.vacancyWrapper {
  padding: 36px;
  background-color: white;
  border: 1px solid #c5c5c5;
}

.filterButtons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #f3f3e9;
}

.typeButtonsWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.rankButtonsWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.vacancyWrapper:hover {
  color: white;
  background-color: #1b946e;
}

.vacancyItemWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.vacancyList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.vacancyContent {
  display: flex;
  flex-direction: column;
}

.vacancyList li:last-child .vacancyItemWrapper::after {
  background-color: transparent;
}

.title {
  font-family: "UAFBold", sans-serif;
  font-size: 32px;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 40px;
  background-color: #f3f3e9;
}

.image {
  position: relative;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.icon {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
}

.vacancyTitle {
  font-family: "UAFBold", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  margin-bottom: 17px;
  text-align: left;
}

.vacancyCredo {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 20px;
  flex: 1;
}

.button {
  font-family: "UAFBold", sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border: none;
  padding: 17px 20px;
  background-color: transparent;
  color: black;
}
.button:hover {
  color: #00875c;
}

.active {
  border-bottom: 4px solid #00875c;
}

.noVacancies {
  font-family: "UAFBold", sans-serif;
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: 60px;
  grid-column: span 3;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .vacancyWrapper {
    padding: 33px;
  }
  .vacancyList {
    grid-template-columns: 1fr;
  }
  .vacancyWrapper:hover {
    color: black;
    background-color: white;
  }
  .rankButtonsWrapper {
    flex-direction: column;
    gap: 40px;
  }
  .vacancyItemWrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .vacancyList li:nth-child(even) {
    color: white;
    background-color: #00875c;
  }
}
@media (max-width: 767px) {
  .vacancyList {
    grid-template-columns: 1fr;
  }
  .vacancyWrapper {
    padding: 33px;
  }
  .rankButtonsWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .vacancyWrapper:hover {
    color: black;
    background-color: white;
  }
  .vacancyItemWrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .vacancyList li:nth-child(even) {
    color: white;
    background-color: #00875c;
  }
  .noVacancies {
    font-size: 36px;
  }
}
