.mainScreen {
  width: 100vw;
  height: 100svh;
  background-image: url("/images/vacanciesMainScreen.webp");
  background-position: 67%;
  background-size: cover;
  position: relative;
}

.titleWrapper {
  position: relative;
  top: 50%;
  left: 180px;
  transform: translateY(-50%);
  color: white;
  width: 463px;
}

.titleWrapper_title {
  font-family: "UAFBold", sans-serif;
  font-size: 48px;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.titleWrapper_content {
  font-family: "UAFRegular", sans-serif;
  font-size: 14px;
}

.formWrapper {
  border: 20px solid #ffcd05;
}
.button {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .containerWrapper {
    padding: 0;
  }
  .mainScreen {
    background-position: 67%;
  }
  .titleWrapper {
    top: 70%;
    left: 80px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .mainScreen {
    background-position: 70%;
  }
  .containerWrapper {
    padding: 0;
  }
  .titleWrapper {
    top: 75%;
    left: 16px;
    width: 90%;
  }
  .titleWrapper_title {
    margin-bottom: 20px;
  }
  .titleWrapper_content {
    display: none;
  }
  .button {
    display: flex !important;
  }
}
