.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: #000;
  align-items: center;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  background-color: #1d946e;
  color: white;
}

.card:hover button {
  background-color: white;
  color: black;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  margin-top: 28px;
  flex: 1;
}

.unit {
  margin-top: 40px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -1px;
  margin-bottom: 28px;
}

.detailsButton {
  margin-top: 16px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
}

.detailsButton:hover {
  background-color: #0056b3;
}

@media (min-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
  .card {
    padding: 24px;
  }
  .title {
    font-size: 23px;
    margin-top: 28px;
  }
  .unit {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
  }
}
