.mainScreen {
  position: relative;
  width: 100%;
  height: 100svh;
  background-size: cover;
  background-position: center;
}
.mainScreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.titleWrapper {
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translateY(-50%);
  color: white;
}

.titleWrapper_title {
  font-family: "UAFBold", sans-serif;
  font-size: 48px;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.titleWrapper_description {
  font-size: 14px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.contentTitle {
  font-family: "UAFBold", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.mainContentWrapper {
  border-left: 20px solid #ffcd05;
  border-right: 20px solid #ffcd05;
  border-bottom: 20px solid #ffcd05;
}

.contentWrapper {
  position: relative;
  padding-top: 30px;
  margin: 0 60px 60px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 95px;
  border-bottom: 3px solid #09694c;
}

.descriptionWrapper {
  border-bottom: 3px solid #09694c;
  margin-bottom: 30px;
}

.responsibilities {
  margin-bottom: 30px;
}

.guarantees {
  margin-bottom: 30px;
}

.descriptionContent {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.list {
  list-style: none;
}

.listItem {
  position: relative;
  padding-left: 42px;
  line-height: 26px;
  margin-bottom: 30px;
}

.listItem::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  top: 5px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .responsibilities {
    border-bottom: 3px solid #09694c;
  }
  .guarantees {
    border-bottom: 3px solid #09694c;
  }
  .titleWrapper {
    top: 70%;
    left: 80px;
    width: 50%;
  }
  .titleWrapper_title {
    font-size: 36px;
  }
  .contentWrapper {
    margin: 0 40px 40px 40px;
    padding-top: 30px;
    grid-template-columns: 1fr;
    border-bottom: none;

    gap: 0;
  }
}
@media (max-width: 767px) {
  .contentWrapper {
    padding-top: 30px;
    border-bottom: none;
  }
  .responsibilities {
    border-bottom: 3px solid #09694c;
  }
  .guarantees {
    border-bottom: 3px solid #09694c;
  }
  .titleWrapper {
    top: 70%;
    left: 16px;
    width: 90%;
  }
  .titleWrapper_title {
    font-size: 36px;
  }
  .contentWrapper {
    margin: 0 24px 24px 24px;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
