.mainScreen {
  position: relative;
  width: 100%;
  height: calc(100svh - 111px);
  background-size: cover;
  background-position: center;
}

.header {
  height: 111px;
  background-color: black;
}
.titleWrapper {
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translateY(-50%);
  color: white;
}

.titleWrapper_title {
  font-family: "UAFBold", sans-serif;
  font-size: 48px;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.titleWrapper_description {
  font-size: 14px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.contentTitle {
  font-family: "UAFBold", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.mainContentWrapper {
  border-left: 20px solid #ffcd05;
  border-right: 20px solid #ffcd05;
  border-bottom: 20px solid #ffcd05;
}

.contentWrapper {
  position: relative;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 95px;
}

.descriptionWrapper {
  border-bottom: 3px solid #09694c;
  margin-bottom: 30px;
}

.responsibilities {
  border-bottom: 3px solid #09694c;
  margin-bottom: 30px;
}

.guarantees {
  border-bottom: 3px solid #09694c;
  margin-bottom: 30px;
}

.descriptionContent {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.list {
  list-style: none;
}

.listItem {
  position: relative;
  padding-left: 42px;
  line-height: 26px;
  margin-bottom: 30px;
}

.listItem::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  top: 5px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .titleWrapper {
    top: 70%;
    left: 80px;
    width: 50%;
  }
  .titleWrapper_title {
    font-size: 36px;
  }
  .contentWrapper {
    padding: 40px;

    grid-template-columns: 1fr;
    gap: 0;
  }
  .guarantees {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .header {
    height: 101px;
  }
  .mainScreen {
    height: calc(100svh - 101px);
  }
  .titleWrapper {
    top: 70%;
    left: 16px;
    width: 90%;
  }
  .titleWrapper_title {
    font-size: 36px;
  }
  .contentWrapper {
    padding: 24px;

    grid-template-columns: 1fr;
    gap: 0;
  }
  .guarantees {
    border-bottom: none;
  }
}
