.container {
  padding: 160px 0;
  background-color: white;
}

.newsWrapper {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  background-color: #f1f2eb;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "UAFBold", sans-serif;
  font-size: 56px;
  margin-bottom: 10px;
}

.content {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  flex: 1;
}

.imageWrapper {
  background-image: url("/images/News.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

.button {
  padding: 20px 25px;
  background-color: #0e7151;
  color: white;
  display: block;
  width: fit-content;
  font-family: "UAFSemiBold", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    grid-auto-columns: calc(100% / 2);
  }
  .newsWrapper {
    gap: 80px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 64px 0;
  }
  .newsWrapper {
    gap: 40px;

    grid-template-columns: 1fr;
  }
  .title {
    font-size: 38px;
  }

  .content {
    font-size: 16px;
  }
  .button {
    width: 100%;
  }
}
