.container {
  padding: 160px 0;
  background-color: white;
}

.newsWrapper {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #f1f2eb;
}

.contentWrapper {
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

.post {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.respContainer {
  width: 100%;
  max-width: 800px; /* Максимальна ширина відео */
}

.iframeWrapper {
  position: relative;
  width: 100%;
  padding-top: 140%; /* Співвідношення 16:9 для адаптивності */
}

.respIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    grid-auto-columns: calc(100% / 2);
  }
}

@media (max-width: 767px) {
  .newsWrapper {
    grid-template-columns: 1fr;
  }
}
