.mainWrapper {
  background-color: white;
  padding: 48px;
  position: relative;
  z-index: 1;
}

.formTitle {
  font-family: "UAFBold", sans-serif;
  font-size: 56px;
  letter-spacing: -1px;
  margin-bottom: 136px;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 88px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 88px;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}

.form .inputWrapper:last-child {
  border-right: none;
}

.label {
  font-family: "UAFSemiBold", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  padding: 24px;
}

.input {
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 24px;
  margin: 0;
  font: inherit;
  color: black;
}

.buttonWrapper {
  display: flex;
  align-items: flex-end;
  gap: 86px;
}

.personalDataWrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.personalDataCheckbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 2px solid #c5c5c5;
  margin-right: 24px;
}

.active {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  margin-right: 24px;
}

.personalDataText {
  font-size: 14px;
}

.personalDataLink {
  text-decoration: underline;
  color: #0e7151;
  margin-left: 5px;
}

.button {
  background-color: #0e7151;
  color: white;
  border: none;
  font-family: "UAFBold", sans-serif;
  font-size: 14px;
  padding: 30px 90px;
  cursor: pointer;
}

.button:hover {
  background-color: #1d946e;
}

.required {
  color: red;
  border-bottom: 1px solid red;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .formTitle {
    font-family: "UAFBold", sans-serif;
    font-size: 50px;
    letter-spacing: -1px;
    margin-bottom: 64px;
  }
  .form {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 32px;
  }

  .inputWrapper {
    border-right: none;
    gap: 0;
  }

  .input {
    padding: 24px 0;
  }
  .label {
    padding: 24px 0;
  }
  .buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
  }
  .personalDataWrapper {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .button {
    width: 100%;
    padding: 30px 0;
  }
  .button:hover {
    background-color: #0e7151;
  }
}
@media (max-width: 767px) {
  .mainWrapper {
    background-color: white;
    padding: 40px 16px;
  }

  .formTitle {
    font-family: "UAFBold", sans-serif;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 24px;
  }
  .form {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 24px;
  }
  .inputWrapper {
    gap: 0;
    border-right: none;
  }
  .input {
    padding: 12px 0;
  }
  .label {
    padding: 12px 0;
  }
  .buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .personalDataWrapper {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .personalDataCheckbox {
    flex: 1 0 auto;
  }

  .button {
    white-space: nowrap;
    padding: 30px 0;
    width: 100%;
  }
  .button:hover {
    background-color: #0e7151;
  }
}
